<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Survey</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div class="bg" id="app">
    <div class="container-fluid ">
      <div class="row slide-1"></div>
        <div class="col-md-12" v-show="!isShowing">
          <div class="header-section d-flex mt-4">
            <div class="ml-5 pl-3 d-inline-block d-flex align-items-center">
              <img class="ml-5 mr-2" src="LogoBizVibe_web_white.png" width="118px" alt="">
            </div>
          </div>
          <div class="text-white text-left">
            <div class="container mt-5  text-white">
              <div class="row">
                <div class="col-md-6 col-sm-12" style="border-right:2px solid white">
                  <h1 class="text-white">You are only a few steps away from creating more RFP opportunities.</h1>
                  <p class="py-2">Suppliers with updated information, feature at the top of buyer’s search results and
                    are 50% more likely to get invited for an RFI/RFP</p>
                  <button v-on:click="show" class="btn btn-primary btn-block py-3 border-0"
                    style="background:#1dc4e9 !important">Yes, I want to be invited for an RFI/RFP </button>
                </div>
                <div class="col-md-6 col-sm-12 mt-md-0 mt-3">
                  <p class="pb-3 ml-md-4 h5">Thousands of global buyers use best-in-class sourcing intelligence tools
                    to find and keep track of the right suppliers.</p>
                  <div class="row mt-md-0 mt-3 mb-3">
                    <div class="col-md-5 col-6 mr-md-3">
                      <div class="w-100 px-3 ml-4 rounded" style="background:rgba(0, 0, 0, 0.5);">
                        <p class="pt-1 font-weight-bold h4">5,000,000+</p>
                        <p class="pb-1">Company Profiles</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class=" w-75 px-3 rounded" style="background:rgba(0, 0, 0, 0.5);">
                        <p class="pt-1 font-weight-bold h4">175+</p>
                        <p class="pb-1">Countries</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 col-6 mr-md-3">
                      <div class="w-100 px-3 ml-4 rounded" style="background:rgba(0, 0, 0, 0.5);">
                        <p class="pt-1 font-weight-bold h4">10,000+</p>
                        <p class="pb-1">Products &amp; Services</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="w-75 px-3 rounded" style="background:rgba(0, 0, 0, 0.5);">
                        <p class="pt-1 font-weight-bold h4">300+</p>
                        <p class="pb-1">Industry Factsheets</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- second part -->
      <div v-show="isShowing">
        <div class="header-section d-flex mt-4">
          <div class="ml-5 pl-3 d-inline-block d-flex align-items-center">
            <img class="ml-5 mr-2" src="LogoBizVibe_web_white.png" width="118px" alt="">
          </div>
        </div>
        <div class="container">
          <form>
            <div v-for="(titles,index) in survey.data.survey_json">
              <div v-if="index === questionIndex">
                <div class="pl-5 pt-5 animated animatedFadeInUp fadeInUp delay-5s">
                  <h1 class="pl-5 text-white text-left font-weight-bold">{{titles.title}}</h1>
                  <div v-for="(response,index) in titles.fields" class="pl-5 pt-3 text-white text-left font-weight-bold">
                    <div v-show="index == innerIndex" class="animated animatedFadeInUp fadeInUp delay-5s">
                          <h4>{{ indexing }}
                            <i class="fa fa-arrow-right"></i> {{response.label}}
                          </h4>                                                 
                          <div class="pl-5 pt-5" v-if="response.fieldType == 'RadioButton'">
                            <div v-for="(option,index) in response.options" class="d-inline-block">
                              <div style="cursor:pointer"
                                class="mr-5 single-opt border border-light rounded p-2 pr-5 d-block mb-2 button-width">
                                <!-- <span class="mb-1 mr-1 d-inline-block border border-light rounded p-1 px-2">{{index+1}}</span> -->
                                <input  v-on:click="isHidden = true" name="my_options"
                                  type="radio" :key="index" :id="index" :value="true" v-model="option.value">
                                   {{option.optionLabel}}
                                <!-- <i v-if="isHidden == true" class="float-right fa fa-check-square fa-2x pl-5"></i> -->
                              </div>
                            </div>
                          </div>
                          
                          <div class="w-75 mt-3 pb-4 pl-2 animated animatedFadeInUp fadeInUp delay-5s" v-if="response.fieldType == 'SelectList'">
                          <div class="ml-3 mb-5 d-inline-block" v-for="(option,index) in response.options">
                            <div class="ml-5 optionsBox d-flex flex-wrap options-0">
                            <div style="cursor:pointer" class="mr-2 opt border border-light rounded p-2 d-inline-block mb-2 button-width">
                            <!-- <span class="mb-1 mr-1 d-inline-block border border-light rounded p-1 px-2">{{index + 1}}</span>  -->
                            <input type="checkbox" :key="index" :id="index" :value="true" v-model="option.value"> {{option.optionLabel}}
                            <i class="float-right fa fa-check-square fa-2x d-none"></i>
                            </div>
                            </div>
                            </div>
                          </div>
                          
                            <!-- Text fields -->
                          <div class="w-75 mt-3 pb-4 pl-2">
                            <div class="ml-5 optionsBox d-flex flex-wrap options-1">
                              <input v-if="(response.text == 'Long Text' || response.text == 'Text') && response.fieldType != 'SelectList'" type="text" v-model="message"
                                placeholder="Type your answer here">
                              <!-- <input  type="text" placeholder="Type your answer here" class="inputText w-100 border-bottom border-top-0 border-left-0 border-right-0 transparent-input text-white py-4"> -->
                            </div>
                          </div>
                          <!-- Buttons -->
                        <div class="ml-5 pt-5 pl-5 animated animatedFadeInUp fadeInUp delay-5s">
                          <a v-on:click="prev" class="py-2 text-center p-1 mr-3 d-inline-block rounded"
                            style="text-decoration: underline;width:70px">Go Back</a>
                          <a v-if="questionIndex != 5" v-on:click="next(index)" class="p-1 py-2 text-center mr-3 d-inline-block rounded"
                            style="background-color:#1BE6E1;">
                            OK <span class="fas fa-check"></span>
                          </a>
                          <input v-if="questionIndex == 5" type="submit" value="submit" v-on:click="next(index)" class="p-1 py-2 text-center mr-3 d-inline-block rounded"
                            style="background-color:#1BE6E1;border:none;color:white;padding: 10px;">
                        </div> 
                        <a v-on:click="next(index)" v-show="!(response.isRequired)" class="skip"
                          style="text-decoration:underline;padding-left:64%;">Skip this question</a>
                    </div>
                </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    <!-- thank you -->
    <div v-show="questionIndex === 6">
      <div class="pl-5 pt-5 d-flex ml-5 align-items-center">
        <img width="50px" class="mr-2" src="check.png"><h4 class="text-white text-left">Thank you for updating
        your company details.</h4>
      </div>
      <div class="ml-5 pl-5 container animated fadeInUp delay-5s">
          <div class="w-75 mt-3">
            <h1 class="text-white">You're now part of our 
            <span class="font-weight-bold">BizVibe</span> 
            family</h1>
            <div class="ml-3">
            </div>
            </div>
            <div class="w-75 pl-2">
              <p class="mt-3">We will keep you informed with how your profile is performing on BizVibe and notify you when buyers show interest in your products and services.</p>
              <p class="mt-3">Next, register for free on <a style="text-decoration:underline" href="https://www.bizvibe.com" class="font-weight-bold text-light">BizVibe</a> as a seller to maximize the benefits 
              provided by our platform.</p> 
            </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script src="script.js"></script>
</body>
</html>