body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    position: relative;
    font-weight: 400;
    color:white;
    font-size: 14px;
}
.bg {
    background-image: url("formBackground.png");
    background-size: cover;
    z-index: 1;
    height: 100%;
}
.header img {
    float: left;
    width: 118px;
    height: 10%;
}
.header {
    position: relative;
    top: 20px;
}
.centered {
    position: absolute;
    color:white;
    float: left;
}
.vertical {
    border-right: 2px solid white!important;
}
a:hover {
    background-color:#1BE6E1;
    cursor: pointer;
}
.skip:hover {
    background-color: transparent;
}

/* Animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
input[type="text"] {
    background: transparent;
    border:none;
    border-bottom:1px solid white;
    width:100%;
    color: #fff!important;
    padding: 10px;
}
input[type="text"], select { 
    outline: none;
}
::placeholder {
    color: white;
}
input[type="submit"]:hover {
    background-color:#1BE6E1;
    cursor: pointer;
}